.customers {
  background-color: $bg-color-first;
}

.customers__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px -30px;

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    margin: 0px;
  }
}

.customers__items {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 15px 30px;
  cursor: pointer;
  height: 92px;
  border: 1px solid $icons-color;
  border-radius: 4px;

  &:hover,
  &:focus {
    border-color: $chromatic-color;
  }

  @media screen and (max-width: 767px) {
    width: calc((100% - 15px * 4) / 2);
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc((100% - 15px * 6) / 3);
  }

  @media screen and (min-width: 1200px) {
    display: inline-block;
    justify-content: center;
    margin: 0px;
    margin-right: 30px;

    &:last-child {
      margin-right: 0px;
    }
  }
}

.customers__links {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $icons-color;
  transition: color 250ms $timing-function;
  margin: 0px;
  width: 100%;

  .customers__items:hover &,
  .customers__items:focus & {
    color: $chromatic-color;
  }
}

.customers__icon {
  fill: currentColor;
  width: 170px;
  height: 92px;
  box-sizing: border-box;
  border-radius: 4px;
}
