.filter__list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.filter__items {
  margin-right: 8px;

  &:last-child {
    margin-right: 0px;
  }
}

.filter__items--buttons {
  background-color: $bg-color-second;
  font-family: "Roboto", sans-serif;
  color: $text-color-first;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  font-style: normal;
  text-align: center;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: box-shadow 250ms $timing-function,
    background-color 250ms $timing-function, color 250ms $timing-function;

  &:hover,
  &:focus {
    background-color: $chromatic-color;
    box-shadow: $filter-buttons-shadow;
    color: $text-color-third;
  }
}
