.page-footer {
  display: flex;
  flex-direction: column;
  background-color: $bg-color-third;
  align-items: center;
  padding: 60px 0px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.page-footer__flexing {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: top;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: baseline;
    text-align: left;
  }
}

.page-footer__join {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
  @media screen and (min-width: 1200px) {
    align-items: baseline;
  }
}

.address {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc(50% - 30px);
  }
}

.page-footer__links {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

// Ссылки в Address

.address__list {
  margin-top: 20px;
}

.address__items {
  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 0px;
  }
}

%items-address {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address__items--location {
  @extend %items-address;
  color: $text-color-third;
}

.address__items--kontakts {
  @extend %items-address;
  color: $footer-kontakts-color;
  transition: color 250ms $timing-function;

  &:hover,
  &:focus {
    color: $text-color-third;
  }
}

// Заголовок

.footer-heading {
  color: $text-color-third;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0px 0px 20px 0px;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

// Секция "Присоединяйтесь"

.join {
  display: flex;
  flex-direction: column;
  margin-top: 60px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc(50% - 30px);
  }

  @media screen and (min-width: 768px) {
    display: inline;
    margin-top: 0px;
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}

// Секция "Подпишитесь"

.subscribe-section {
  display: flex;
  flex-direction: column;
  margin: 60px auto 0px;

  @media screen and (min-width: 1200px) {
    display: block;
    margin-left: auto;
    margin: 0px 0px 0px auto;
  }
}

.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.subscribe__input {
  border: $footer-subscribe-input-border;
  box-sizing: border-box;
  filter: drop-shadow($submit-button-shadow);
  border-radius: 4px;
  background-color: inherit;
  width: 358px;
  height: 50px;
  padding: 15px;
  transition: border 250ms $timing-function;

  color: $text-color-third;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  &::placeholder {
    color: $footer-subscribe-textarea-color;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
  }
}

.subscribe__button {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  font-family: Roboto;
  color: $text-color-third;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: $chromatic-color;
  box-shadow: $submit-button-shadow;
  border-radius: 4px;
  padding: 0px;
  border: none;
  transition: background-color 250ms $timing-function;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $chromatic-color-hover;
  }

  margin: 20px auto 0px;

  @media screen and (min-width: 1200px) {
    margin: 0px 0px 0px 12px;
  }
}

.subscribe__icon {
  fill: currentColor;
  margin-left: 10px;
}
