.hero-section {
  background-image: linear-gradient(to right, $bg-color-hero, $bg-color-hero),
    url("../images/bg-hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $bg-color-third;
  text-align: center;

  padding-top: 118px;
  padding-bottom: 118px;

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero-section__button {
  background-color: $chromatic-color;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px $button-shadow;
  border-radius: 4px;
  border: none;
  color: $text-color-third;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: background-color 250ms $timing-function;

  &:hover,
  &:focus {
    background-color: $chromatic-color-hover;
  }
}
