// Глобальные стили для тегов

body {
  background-color: $bg-color-main;
  font-family: "Roboto", sans-serif;
  color: $text-color-second;
  margin: 0px;

  @media screen and (max-width: 1199px) {
    &.modal-open {
      overflow: hidden;
    }
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul {
  margin: 0px;
  padding-left: 0px;
}

// Глобальные селекторы

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 30px);

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.flexing-items {
  display: flex;
  align-items: center;
}

.invisible-heading {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// Заголовки уровней 1 и 2

.heading-one {
  color: $text-color-third;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0px;
  white-space: pre-wrap;

  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.heading-two {
  color: $heading-color;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 0px;

  font-size: 28px;
  line-height: 1.18;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}
