// Глобальные стили для тегов

body {
  background-color: $bg-color-main;
  font-family: "Roboto", sans-serif;
  color: $text-color-second;
  margin: 0px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul {
  margin: 0px;
  padding-left: 0px;
}

// Глобальные селекторы

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.flexing-items {
  display: flex;
}

.invisible-heading {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// Заголовки уровней 1 и 2

.heading-one {
  color: $text-color-third;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 30px;
}

.heading-two {
  color: $heading-color;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}
